{% extends "../base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home/feed.css' %}">
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
  <div class="greeting">
    <h1>Hi {{ user.first_name }}!</h1>
  </div><br>
  {% if userItems|length < 1%}
  {% include "./addItemPrompt.html" %}
  {% else %}
  {% include "./recentItems.html" %}
  {% endif %}

  <h2>Here are some items based on your interest in {{ userProfile.interest1 }}</h2><br>
  <div class="allItemsList">
      <div class="row">
      {% for item in in1Items %}
        <div class="cl">
            <a href="{% url 'items:detail' pk=item.pk %}">
              <div class="thumbnail">
                <img src="{{ item.picture.url }}">
                <div class="caption">
                  <h2>{{ item }}</h2>
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
  </div><br>
  
  <h2>Here are some items based on your interest in {{ userProfile.interest2 }}</h2><br>
  <div class="allItemsList">
      <div class="row">
      {% for item in in2Items %}
        <div class="cl">
            <a href="{% url 'items:detail' pk=item.pk %}">
              <div class="thumbnail">
                <img src="{{ item.picture.url }}">
                <div class="caption">
                  <h2>{{ item }}</h2>
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
  </div><br>
  
  <h2>Here are some items based on your interest in {{ userProfile.interest3 }}</h2><br>
  <div class="allItemsList">
      <div class="row">
      {% for item in in3Items %}
        <div class="cl">
            <a href="{% url 'items:detail' pk=item.pk %}">
              <div class="thumbnail">
                <img src="{{ item.picture.url }}">
                <div class="caption">
                  <h2>{{ item }}</h2>
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
  </div><br>
  
  </div>
</div>

{% else %}
<div class="container">
  <div>
    <h1>You need to be logged in to view a home feed!</h1>
  </div>
</div>
{% endif %}

{% endblock %}
