{% extends "../base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home/feed.css' %}">
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
  <div class="greeting">
    <h1>Hi {{ user.first_name }}!</h1>
  </div><br>

  {% if userItems|length < 1%}
  <div class="addItemPrompt">
    <h3>It seems like you haven't posted an items up. Why don't add one?</h3> <a class="btn btn-success" href="{% url 'items:create' %}">Add Item</a>
  </div>
  {% else %}
  <h2>Here are some of your recently posted items</h2><br>
  <div class="allItemsList">
    <div class="row">
      {% if userItems|length > 5%}
      <div class="col-sm">
        <a href="{% url 'items:detail' pk=items.1.pk %}">
          <div class="thumbnail">
            <img src="{{ items.1.picture.url }}">
            <div class="caption">
              <h3>{{ items.1 }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="{% url 'items:detail' pk=items.2.pk %}">
          <div class="thumbnail">
            <img src="{{ items.2.picture.url }}">
            <div class="caption">
              <h3>{{ items.2 }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="{% url 'items:detail' pk=items.2.pk %}">
          <div class="thumbnail">
            <img src="{{ items.3.picture.url }}">
            <div class="caption">
              <h3>{{ items.3 }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="{% url 'items:detail' pk=items.2.pk %}">
          <div class="thumbnail">
            <img src="{{ items.4.picture.url }}">
            <div class="caption">
              <h3>{{ items.4 }}</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="{% url 'items:detail' pk=items.2.pk %}">
          <div class="thumbnail">
            <img src="{{ items.5.picture.url }}">
            <div class="caption">
              <h3>{{ items.5 }}</h3>
            </div>
          </div>
        </a>
      </div>
      {% else %}
      {% for item in items %}
         <div class="col-sm">
           <a href="{% url 'items:detail' pk=item.pk %}">
              <div class="thumbnail">
                <img src="{{ item.picture.url }}">
                <div class="caption">
                  <h3>{{ item }}</h3>
                </div>
              </div>
            </a>
          </div>
      {% endfor %}
      {% endif %}
    </div><br>
    <a class="btn btn-success" href="{% url 'items:create' %}">Add New Item</a>
  </div>
</div>
{% endif %}

{% else %}
<div class="container">
  <div>
    <h1>You need to be logged in to view a home feed!</h1>
  </div>
</div>
{% endif %}

{% endblock %}
