.caption
{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
}

.thumbnail
{
    box-shadow: -2px 4px 25px -5px rgba(0,0,0,0.57);
    width: 15em;
    height: 15em;
    margin-right: 0;
}


.thumbnail > img
{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 10em;
}

h1, h2
{
    font-weight: semibold;
}

h1
{
    font-size: 4em;
}
