@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Lato');

body
{
    font-family: 'Lato', sans-serif;
}

.navbar
{
    height: 5em;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: -1px 10px 23px -8px rgba(0,0,0,0.75);
}

.navbar-brand
{
    font-family: 'Hammersmith One', sans-serif;
    font-size: 3.8em;
}

.nav-item
{
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    margin-left: 1em;
}

.navbar > .form-inline
{
    margin-left: 3%;
}

#mainSearch
{
    width: 40em;
    height: 4.5em;
    background-color: rgba(0,0,0,0);
    border-color: rgba(14, 135, 52, 0.4);
    border-width: .1em;
    color: white;
}

#mainSearch:focus
{
    border-color: rgba(14, 135, 52, 0.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 20px rgba(14, 135, 52, 0.4);
}

#mainSearch::-webkit-input-placeholder
{
    color: #0e8734;
    font-size: 1.3em;
}

.modal-dialog
{
    background-color: white;
    min-height: 12em;
    min-width: 15em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.loginmodal-container > h1
{
    font-family: 'Hammersmith One', sans-serif;
}

.loginmodal-container > .form-group
{
    padding-left: 2em;
    padding-right: 2em;
}

.btn-primary
{
    background-color: #17c44e;
    border-color: #17c44e;
}
.dropdown > button
{
  background-color: #17c44e;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    background-color: #129b3e;
    border-color: #129b3e;
}

.modal-content
{
    border: none;
}

.container
{
    margin: 2.5em 2em 4em 2em;
}


#postman_menu 
{
  list-style-type: none;
}

#postman_menu > li > h5 > a
{
  color: white;
}

.dropdown-menu
{
    background-color: #17c44e;
}

#profileMenu > ul > li > h5 > a
{
  color: white;
}

.dropdown-menu > ul
{
    list-style-type: none;
}

#profileMenu > ul > li > h5 > a:hover
{
  color: white;
}

#profileMenu
{
    padding-right: 2em;
}