<style>

#map
{
    height: 100%;
    width: 60em;
    margin-bottom: 3em;
    margin-left: 10em;
}

#mapContainer
{
  height: 100%;
  width: 50%;
  float: right;
}

#mainSearch
{
   margin-top: 1em;
}

.cl
{
    margin-right: 3em;
    position: relative;
}

.caption
{
	text-align: center;
	margin-top: 1em;
	width: 100%;
	margin-bottom: 3.5em;
}

.itemsList
{
    float: left;
    width: 50%;
}

.thumbnail
{
    box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75);
    width: 12em;
    height: 10em;
}


.thumbnail > img
{
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 10em;
    margin-top: 2em;
}

.cl > a
{
    color: #474747;
}

.cl > a:hover
{
    text-decoration: none;
    color: #707070;
}

#noResults
{
    padding-left: 1em;
}

</style>

{% extends '../base.html' %}

{% block body_block %}
<div class="container">
    {% if query %}
        <h1>Results</h1>
            <div class="itemsList">
                <div class="row">
                    {% for result in page.object_list %}
                    <div class="cl">
                        <a href="{{result.object.get_absolute_url}}">
                          <div class="thumbnail">
                            <img src="{{ result.object.picture.url }}">
                          </div>
                          <div class="caption">
                              <h4>{{ result.object.name }}</h4>
                              <h5>
                                  <a href="{% url 'profile:profile' pk=result.object.owner.id %}">Owned by: {{result.object.owner}}</a>
                              </h5>
                          </div>
                        </a>
                    </div>
                    {% empty %}
                    <p id="noResults">No results found.</p>
                    {% endfor %}
                </div>
            </div>

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
        <meta http-equiv="REFRESH" content="0;url=/">
    {% endif %}

    <div id="mapContainer">
        <div id="map"></div>
    </div>

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMJtWB3fptWgxHnWz7DqTfRxPdxWTdGCM"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

        var map;

        function mapLocation(zip) {
          initMap(zip);
          axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
              params: {
                  address: zip,
                  key: 'AIzaSyAMJtWB3fptWgxHnWz7DqTfRxPdxWTdGCM'
              }
          }).then(function(response){
              const coor = response['data']['results'][0]['geometry']['location'];
              initMap(coor);
          });

        }

        function addMarkers(zip, name, picture, description) {
          axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
              params: {
                  address: zip,
                  key: 'AIzaSyAMJtWB3fptWgxHnWz7DqTfRxPdxWTdGCM'
              }
          }).then(function(response){
              const coor = response['data']['results'][0]['geometry']['location'];
              addMarker(coor, name, picture, description);
          });

        }

        async function initMap(coors) {
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 11,
              center: coors
            });
        }

        function addMarker(coors, name, picture, description) {
            const content = `
                <div class="content" style="width:12em;height:auto;">
                    <h4 style="font-size:1.5em;">` + name + `</h4>
                    <div class="bodyContent">
                      <div style="float: left; width: 5%">
                        <img src="` + picture + `" width="60" height="40"/>
                      </div>
                    <div style="float: right; width: 50%;">
                      <p>` + description + `</p>
                    </div>
                  </div>
                <div>
            `

            const infowindow = new google.maps.InfoWindow({
	        	content: content
        	});

            const marker = new google.maps.Marker({
                position: coors,
                map: map,
                title: name
            });

            infowindow.open(map,marker);
        }


        let zips = [];
        let names = [];
        let pictures = [];
        let descriptions = [];

        {% for result in page.object_list %}
            zips.push("{{result.object.zipCode}}");
            names.push("{{result.object.name}}");
            pictures.push("{{result.object.picture.url}}");
            descriptions.push("{{result.object.description}}");
        {% endfor %}


        mapLocation(zips[0]);

        for (let i = 0; i < zips.length; i++) {
            addMarkers(zips[i], names[i], pictures[i], descriptions[i]);
        }

    </script>

</div>

{% endblock %}
