{% extends "../base.html" %}

{% load staticfiles %}

{% block body_block %}
<h1> Detail of Items </h1>
<div class="jumbotron">
  <p>name: {{item_detail.name}}</p>
  <p>price: {{item_detail.price}}</p>
  <p>owner: {{item_detail.owner}}</p>
  <p>condition: {{item_detail.condition}}</p>
  <p>category: {{item_detail.category}}</p>
  <img src="{{ item_detail.picture.url }}" height=300>



</div>

<div class="container">
  {% if user == item_detail.owner %}
  <p><a class="btn btn-warning" href="{% url 'items:update' pk=item_detail.pk %}">UPDATE</a></p>
  <p><a class="btn btn-danger" href="{% url 'items:delete' pk=item_detail.pk %}">DELETE</a></p>
  {% else %}
  {% if user.is_authenticated %}
  <p><a class="btn btn-success" href="{% url 'transaction:request' pk=item_detail.pk%}">Request Item</a></p>
  {% else %}
  <p><a class="btn btn-success" onclick="$('#login-modal').modal('show')">Request Item</a></p>
  {% endif %}
  {% endif %}
  <p><a class="btn btn-warning" href="{% url 'items:list' %}">BACK</a></p>

</div>
{% endblock %}
