{% extends "../base.html" %}

{% load staticfiles %}

{% block body_block %}
<h1> Request Details </h1>
<div class="jumbotron">
  <p>Requester: {{request_detail.requester}}</p>
  <p>Owner: {{request_detail.requestee}}</p>
  <p>Item: {{request_detail.item}}</p>
  <img src="{{ request_detail.item.picture.url }}" height=300>
  <p>Start Date: {{request_detail.start}}</p>
  <p>End Date: {{request_detail.end}}</p>
</div>
{% if request_detail.requestee == user %}
<p><a class="btn btn-success" href="{% url 'transaction:transactionForm' pk=request_detail.pk%}">APPROVE</a></p>
{% endif %}


{% endblock %}
