{% extends "../base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home/feed.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
  <h3> These are the items you requested! </h3>
  <div class="allItemsList">
      <div class="row">
      {% for o in outgoing %}
        <div class="cl">
            <a href="{% url 'transaction:requestDetail' pk=o.id %}">
              <div class="thumbnail">
                <img src="{{ o.item.picture.url }}">
              </div>
              <div class="caption">
                  <h2>{{ o.item }}</h2>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
  </div><br>
  <h3> These are the items people are requesting! </h3>
    <div class="allItemsList">
      <div class="row">
      {% for i in incoming %}
        <div class="cl">
            <a href="{% url 'transaction:requestDetail' pk=i.id %}">
              <div class="thumbnail">
                <img src="{{ i.item.picture.url }}">
              </div>
              <div class="caption">
                  <h2>{{ i.item }}</h2>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
  </div><br>
</div>

{% endblock %}
